version: '3.7'

services:
  {{ docker_service_name }}:
    image: {{ docker_hub_url }}/{{ image_name }}:{{ tag }}
    hostname: "{{ docker_service_name }}"
    
    {% if publish_ports == true %}

    ports:
      - {{ host_port }}:{{ docker_port }}
      
    {% endif %}


    expose:
      - {{ docker_port }}
    
    
    deploy:
      placement:
        constraints:
          - node.role == {{ var_docker_deploy_node_type }} 
      replicas: {{ replicas }}      
      update_config:
        parallelism: 1
        delay: 0s
        failure_action: rollback
        order: start-first
      rollback_config:
        parallelism: 1
        delay: 0s
      restart_policy:
        condition: on-failure
    
    networks:
      application_default:
        aliases:
            - {{ network_alias_name }}

    env_file:
      - {{ env_file_deployment_location }}

 
networks:
  application_default:
    external: true

